/* Utilities */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
.font_h1 {
  font-size: 46px;
}
.font_h2 {
  font-size: 30px;
}
.font_h3 {
  font-size: 22px;
}
.font_p_22 {
  font-size: 22px;
  opacity: 0.8;
}
.font_p_16 {
  font-size: 16px;
  opacity: 0.8;
}
.font_darkblue {
  color: #031b4e;
}
.font_blue {
  color: #006AFF;
}
.font_white {
  color: #fff;
}
.bold {
  font-weight: bold;
}
.padding_top_40 {
  padding-top: 40px;
}
.padding_bottom_40 {
  padding-bottom: 40px;
}
.padding_top_60 {
  padding-top: 60px;
}
.padding_bottom_60 {
  padding-bottom: 60px;
}
/* Header_top */
.header_top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 70px;
  line-height: 70px;
  background-color: white;
}
.header_top img {
  width: 180px;
}
.header_top li a {
  color: #031C4E;
  font-weight: bold;
}
.header_top .btn_blue {
  border: 1px solid #006AFF;
  color: #006AFF;
  font-weight: normal;
}
.header_top li a span {
  padding: 3px;
  vertical-align: middle;
  font-size: 14px;
}
.header_top li a:hover {
  text-decoration: none;
  color: #006AFF;
}
.header_top .btn_blue:hover {
  background-color: #006AFF;
  color: #fff;
}
.humburger {
  font-size: 20px;
  color: #006AFF;
}
/* Header_banner */
.header_banner {
  width: 100%;
  margin-top: 70px;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.header_banner p {
  opacity: 0.8;
  font-size: 24px;
}
.form {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  margin-top: 40px;
  margin-bottom: 60px;
}
.header_banner .btn_account {
  background-color: #579AFF;
  color: #fff;
  width: 100%;
}
.header_banner .btn_google {
  position: relative;
  background-color: #fff;
  color: #707070;
  font-weight: bold;
  box-shadow: 1px 1px;
  margin-top: 5px;
  width: 100%;
}
.google {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 15px;
}
.height {
  height: 40px;
}
.header_banner .terms {
  font-size: 14px;
  margin-top: 8px;
}
.header_banner .terms a {
  text-decoration: underline;
  color: #006AFF;
}
/* Main */
/* Main_logo */
#main_logo {
  background-color: #F3F5F9;
  margin-top: 0;
}
#main_logo h4 {
  color: #707070;
  opacity: 0.5;
}
.logo li img {
  width: 100%;
}
.logo li  {
  width: 35%;
}
#main_logo h5 a {
  font-size: 16px;
}
#main_logo h5 a span {
  vertical-align: middle;
}
#main_logo h5 a:hover {
  text-decoration: none;
  color: #3973c1
}

/* Deploy */
#deploy {
  background-color: white;
}
#deploy ul {
  list-style: none;
  border-left: 2px solid #CCCCCC;
  margin-top: 40px;
}
#deploy ul li {
  color: #031b4e;
  opacity: 0.7;
  line-height: 35px;
  margin-left: 10px;
}

#deploy img {
  text-align: left;
  margin-top: 15px;
}
/* Create */
#create {
  background-color: #F3F5F9;
}
#create .wrapper {
  width: 95%;
  margin: 0 auto;
}
#create p {
  padding-bottom: 100px;
}
#create img {
  width: 50%;
  padding-bottom: 20px;
}
#create h4 {
  font-size: 18px;
}

#create i {
  font-size: 10px;
  color: #006AFF;
}
#create i:first-child {
  background-color: #006AFF;
  border-radius: 50%;
}
#create span {
  font-size: 40px;
  font-weight: bold;
  color: #031b4e;
}
/* service */
#service {
  background-color: #0044C3;
}
/* development */
#development {
  background-color: #F3F5F9;
}
#development img {
  width: 50%;
}
.ball i {
  font-size: 10px;
  color: #006AFF;
}
/* Get_started */
#get_started {
  background-color: #0044C3;
}
footer {
  background-color: #031C4E;
}
/* Media Queries */

@media screen and (min-width: 768px) {
  .logo li  {
    width: 13%;
  }
  #deploy .wrapper {
    width: 90%;
    margin: 0 auto;
  }
  #create .wrapper {
    width: 95%;
    margin: 0 auto;
  }

}
@media screen and (min-width: 992px) {
#deploy .wrapper {
  width: 85%;
  margin: 0 auto;
}
#create .wrapper {
  width: 85%;
  margin: 0 auto;
}


}
